body {
  background-image: url("https://images.unsplash.com/photo-1589496933738-f5c27bc146e3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Z3Jhc3N8ZW58MHx8MHx8&w=1000&q=80");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  font-family: 'Times New Roman', Times;
  margin-bottom: 100px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
