.container{
    display: flex;
    justify-content: center;
    border-radius: 15px;
    flex-wrap: wrap;
    gap: 1em;
    margin: 10px;
}

.filters {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    margin-bottom: 30px;
}

.filterByOrigin {
    display: flex;
    flex-direction: column;
}
.filterByOrigin div{
    display: flex;
    flex-direction: column;
    width: 150px;
    background-color: black;
    color: #fff;
    padding: 5px 20px 5px 20px;
    text-align: center;
    border-radius: 14px;
}

.filterByTemperament {
    display: flex;
    flex-direction: column;
}
.filterByTemperament div{
    display: flex;
    flex-direction: column;
    width: 150px;
    background-color: black;
    color: #fff;
    padding: 5px 20px 5px 20px;
    text-align: center;
    border-radius: 14px;
}

.orderByName {
    display: flex;
    flex-direction: column;
}
.orderByName div{
    display: flex;
    flex-direction: column;
    width: 150px;
    background-color: black;
    color: #fff;
    padding: 5px 20px 5px 20px;
    text-align: center;
    border-radius: 14px;
}

.orderByWeight {
    display: flex;
    flex-direction: column;
}
.orderByWeight div{
    display: flex;
    flex-direction: column;
    width: 150px;
    background-color: black;
    color: #fff;
    padding: 5px 20px 20px 20px;
    text-align: center;
    border-radius: 14px;
}

.orderByAverage {
    display: flex;
    flex-direction: column;
}
.orderByAverage div{
    display: flex;
    flex-direction: column;
    width: 150px;
    background-color: black;
    color: #fff;
    padding: 5px 20px 20px 20px;
    text-align: center;
    border-radius: 14px;
}

.pepitoJuarez {
    color: #fff;
    font-size: larger;
}
.pepitoJuarez img{
    width: 15%;
    height: 15%;
}

.refButton {
    justify-content: end;
    width: auto;
    height: 40px;
    background: black;
    border-radius: 4px;
    color: #fff;
    font-family: "Marker Felt", fantasy;
    font-weight: 100px;
    font-size: 15px;
    margin-top: 0;
    margin: 5px;  
    cursor: pointer;
    padding: 7px;
  }

.divGetAllB{
    display: flex;
    justify-content: end;
  }
  
  .refButton:hover {
    background: rgba(255, 255, 255, 0.884);
    transition: 1s;
    color: rgb(9, 9, 9);
    border-radius: 4px; 
  }

