.container{
    display: flex;
    justify-content: center;
    border-radius: 15px;
    flex-wrap: wrap;
    gap: 1em;
    margin: 10px;
}

.filters {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    margin-bottom: 30px;
}

.filterByOrigin {
    display: flex;
    flex-direction: column;
}
.filterByOrigin div{
    display: flex;
    flex-direction: column;
    width: 150px;
    background-color: black;
    color: #fff;
    padding: 5px 20px 5px 20px;
    text-align: center;
    border-radius: 14px;
}

.orderByOrigin select{
    /* width: 150px; */
}

.filterByTemperament {
    display: flex;
    flex-direction: column;
}
.filterByTemperament div{
    display: flex;
    flex-direction: column;
    width: 150px;
    background-color: black;
    color: #fff;
    padding: 5px 20px 5px 20px;
    text-align: center;
    border-radius: 14px;
}

.filterByTemperament select{
    /* width: 150px; */
}

.orderByName {
    display: flex;
    flex-direction: column;
}
.orderByName div{
    display: flex;
    flex-direction: column;
    width: 150px;
    background-color: black;
    color: #fff;
    padding: 5px 20px 5px 20px;
    text-align: center;
    border-radius: 14px;
}

.orderByName select{
    /* width: 150px; */
}

.orderByWeight {
    display: flex;
    flex-direction: column;
}
.orderByWeight div{
    display: flex;
    flex-direction: column;
    width: 150px;
    background-color: black;
    color: #fff;
    padding: 5px 20px 20px 20px;
    text-align: center;
    border-radius: 14px;
}

.orderByWeight select{
    /* width: 150px; */
}

.orderByAverage {
    display: flex;
    flex-direction: column;
}
.orderByAverage div{
    display: flex;
    flex-direction: column;
    width: 150px;
    background-color: black;
    color: #fff;
    padding: 5px 20px 20px 20px;
    text-align: center;
    border-radius: 14px;
}

.orderByAverage select{
    /* width: 150px; */
}

.pepitoJuarez {
    color: #fff;
    font-size: larger;
}
.pepitoJuarez img{
    width: 15%;
    height: 15%;
}

