.Formulario{
    background-color: transparent;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    flex-direction: column;
    border: orange solid 1px;
    color: white;
    width: auto;
    border-radius: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    height: 900px;
    padding: 20px 0px 20px 0px;
    font-family: 'Times New Roman', Times;
    font-size: 20px;
}
.inputs {
    display: flex;
    flex-direction: column;
    /* flex-wrap: nowrap; */
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
    align-content: stretch;
    width: 500px;
    height: 20px;
}
.inputs input {
    width: 470px;
    height: 25px;
    justify-content: center;
}

strong {
    font-size: large;
    color: orange;
    font-style: italic;
    /* font-weight: 100; */
}

/* #score{
    width: 60px;
} */

.temperaments{
    background-color: #e0de34;
    color: black;
    border-radius: 20px;
    border: black solid 1px;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 470px;
    margin: 10px 0px 0px 0px;
}

.opciones {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    width: 90%;
    background-color: black;
    color: #fff;
}


input {
    border-radius: 8px;
    border: none;
    margin: 10px 10px 0px 10px;
}

.button{
    font-family: "Marker Felt", fantasy;
    background-color: rgba(255, 255, 255, 0.884);
    color: rgb(9, 9, 9);
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
    margin-top: 18px;
    margin-left: 20px;
    margin-bottom: 10px;
    transition: all 0.3s ease 0s;
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.button:hover {
    background-color: black;
    color: #fff ;
    border-radius: 4px;
}

#title {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 50px;
    margin-left: 2%;
    margin-right: 2%;
    padding: 5px;
    border-radius: 10px;
    background-color: transparent;
    backdrop-filter: blur(5px);
    color: #fff;
}

.title2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 50px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    padding: 5px;
    border-radius: 10px;
    background-color: transparent;
    backdrop-filter: blur(5px);
    color: #fff;
}

.title3 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 50px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    padding: 5px;
    border-radius: 10px;
    background-color: transparent;
    backdrop-filter: blur(5px);
    color: #fff;
}
.lista {
    font-size: large;
    align-items: center;
}

.toDelete {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #e0de34;
    border-radius: 4px;
    margin-top: 1%;
    margin-left: 40px;
    margin-right: 40px;
    width: auto;
}

.deleteBut {
justify-content: right;
background-color: red;
width: auto;
margin-left: 40px;
margin-right: 40px;
}