  .bar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    border-radius: 4px;
    padding: 10px;
    width: auto;
    height: 50px;
    margin-bottom: 4px;
  }
  
  .search {
    display: flex;
    height: 50px;
    background-color: black;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: #fff;
    font-family: "Marker Felt", fantasy;
    font-size: 15px;
    margin-top: 7px;
    width: 80px;
    cursor: pointer;
    padding: 10px;
  }
  
  .search:hover {
    background: rgba(255, 255, 255, 0.884);
    transition: 1s;
    color: rgb(9, 9, 9);
    border-radius: 4px;    
  }
  
  .SearchContainer{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    /* background-color: red; */
  }