.bar{
    display: inline;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 10px;
    width: auto;
    margin-left: 15%;
    height: 100%;
  }
  
  .search {
    width: 100px;
    height: 40px;
    background: black;
    border-radius: 4px;
    color: #fff;
    font-family: "Marker Felt", fantasy;
    font-weight: 100px;
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;    
    cursor: pointer;
    padding: 7px;
  }
  
  .search:hover {
    background: rgba(255, 255, 255, 0.884);
    transition: 1s;
    color: rgb(9, 9, 9);
    border-radius: 4px;    
  }
  
  .SearchContainer{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
  }