.cardContainer {
    display: flex;
    flex-direction: row;
}
.card{
    flex: 1 1 21rem;
    display: inline-block;
    /* flex-wrap: wrap; */
    align-items: center;
    text-align: center;
    position: relative;
    margin: auto;
    background: #eee7e7;
    box-shadow: 0 1 10px rgba(0,0,0,0.2);
    align-self: normal;
    width: 300px;
    height: 500px;
    padding: 7px;
    border-radius: 6px;
    cursor: default;
    transition: all 400ms ease;
}

.card:hover {
    background-color: #30210fbe;
    color:beige;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

.card img{
    border-radius: 10px;
    width: 100%;
    height: 210px;
    display: flex;
    position:static;
}

.card h3{
    font-size: 1.3rem;
    height: 20px;
    text-transform: uppercase;
    margin: 10px 0;
    padding: 15px;
    text-align: center;
    font-family:  'Times New Roman', Times, serif;
}

.card h4{
    height: 10px;
    font-size: 1rem;
    margin: 50px 0;
    /* padding: 15px; */
    text-align: center;
    font-family:  'Times New Roman', Times, serif;
}

.card h5{
    height: 10px;
    /* margin: 5px 0; */
    font-size: 0.8rem;
    padding: 15px;
    text-align: center;
    font-family:  'Times New Roman', Times, serif;
}

.card h6{
    /* height: 2px; */
    margin: 15px 0;
    padding: 2px;
    text-align: center;
    font-family:  'Times New Roman', Times, serif;
}

/* .letters {
    display: flex;
    flex-direction: column;
} */